@font-face {
  font-family: 'MonaSans';
  src: url('../../public/fonts/MonaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MonaSans';
  src: url('../../public/fonts/MonaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MonaSans';
  src: url('../../public/fonts/MonaSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MonaSans';
  src: url('../../public/fonts/MonaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --app-sidebar-width: 267px;
  --app-navbar-height: 34px;
  --navbar-margin-top: 38px;
  --navbar-margin-bottom: 33px;
  --navbar-margin-left: 39px;
  --navbar-margin-right: 45px;
  --custom-card-border-width: 1.75px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

